.filter {
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  margin-left: 7px;
  border: 1px solid rgb(214, 213, 222);
  background-color: #fff;
  box-shadow: inset 0px 0px 3px rgba(31, 11, 79, 0.27);
}
