.container {
  padding: 0 30px 20px 30px;
  background-color: rgba(194, 198, 198, 0.33);
  border-radius: 10px;
  border: 1px solid rgba(13, 13, 13, 0.1);
  box-shadow: inset 0px 0px 3px rgba(31, 11, 79, 0.27);
  max-width: 600px;
  width: 100%;
}
.title {
  font-size: 45px;
}
.todosInfo {
  padding-bottom: 15px;
}
