.button {
  background-color: #8787ff;
  color: #fff;
  border: 1px solid rgb(69, 71, 168);
  border-radius: 5px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.1s linear;
  font-weight: 600;
  box-shadow: inset 0px 0px 3px rgba(31, 11, 79, 0.27);
}
.button:hover {
  background-color: #fff;
  color: #8787ff;
  transform: scale(1.03);
}
.button:disabled {
  background-color: gainsboro;
  color: rgba(126, 97, 97, 0.877);
  border: 1px solid rgba(145, 116, 116, 0.61);
  cursor: initial;
}
.button:disabled:hover {
  transform: none;
}
